In [226]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import scipy.stats
from scipy.stats import trim_mean
from statsmodels import robust

In [4]:
df=pd.read_excel('../Data/default_of_credit_card_clients__courseware_version_1_21_19.xls')

In [12]:
df.shape

(30000, 25)

In [15]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [33]:
df[7:]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
7,d6e1911b-54d0,100000,2,2,2,23,0,-1,-1,0,...,221,-159,567,380,601,0,581,1687,1542,0
8,8421d3b3-2b54,140000,2,3,1,28,0,0,2,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
9,62a2fd79-cd90,20000,1,3,2,35,-2,-2,-2,-2,...,0,13007,13912,0,0,0,13007,1122,0,0
10,b73c34fc-91cf,200000,2,3,2,34,0,0,2,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
11,4777689a-5131,260000,2,1,2,51,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,ecff42d0-bdc6,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,99d1fa0e-222b,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,95cdd3e7-4f24,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,00d03f02-04cd,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,15d69f9f-5ad3,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [150]:
x=[61.2,62,65.1,70.4,70.9]

In [201]:
def peso(x):
    total=sum(x)
    pesos=[]
    for i in list(x):
        pesos.append(i/total)
    return pesos

def prompon():

In [206]:
valores['Inicial']=pd.DataFrame(x)

In [210]:
valores['Part']=peso(valores['Inicial'])

In [211]:
valores

      0      Part  Inicial
0  61.2  0.185680     61.2
1  62.0  0.188107     62.0
2  65.1  0.197512     65.1
3  70.4  0.213592     70.4
4  70.9  0.215109     70.9

In [213]:
%pwd

'E:\\ANALISTACP01\\Documents\\06.DataMoledExample\\Data-Science-Projects-with-Python\\1Exploratory'

In [215]:
df_book=pd.read_csv('../../../99DataScience/practical-statistics-for-data-scientists/data/state.csv')

In [216]:
df_book.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [217]:
df_book['Population'].mean()

6162876.3

In [225]:
#Media recordatada el segundo parametro significa
#que le estás quitando el 10% de los datos de inicio y 10% del final

trim_mean(df_book['Population'],0.1)

4783697.125

In [227]:
#media ponderada usas numpy ya que le puedes enviar un argumeno de peso 

np.average(df_book['Murder.Rate'],weights=df_book['Population'])

4.445833981123393

In [229]:
df_book.columns

Index(['State', 'Population', 'Murder.Rate', 'Abbreviation'], dtype='object')

In [236]:
r=[0.25,0.5,0.75]
df_book['Population'].quantile(0.75)-df_book['Population'].quantile(0.25)

4847308.0

In [235]:
print(robust.scale.mad(df_book['Population']))

3849876.1459979336

In [239]:
df_book['Murder.Rate'].quantile(r)

0.25    2.425
0.50    4.000
0.75    5.550
Name: Murder.Rate, dtype: float64

In [228]:
mean_(df_book['Murder.Rate'])

4.066

In [119]:
def mean_(x):
    result=sum(x)/len(x)
    return result

In [120]:
mean_(x)

65.92

In [116]:
def rango(x):
    ran=round(max(x)-min(x),4)
    return ran

In [117]:
rango(x)

9.7

In [178]:
#para la varianza se toman los valores absolutos por ello se elevan al cuadrado regla de potencia par

def varianza(x):
    acum=[]
    media=mean_(x)
    for i in list(x):
        val=acum.append((i-media)**2)
    result=(sum(acum)/len(acum))
    return result

In [180]:
varianza(x)

16.637600000000017

In [181]:
#desviacion estandar es la raizn cuadrada de la vairanza

def desve(x):
    acum=[]
    media=mean_(x)
    for i in list(x):
        val=acum.append((i-media)**2)
    result=(sum(acum)/len(acum))
    return math.sqrt(result)

In [182]:
desve(x)

4.0789214260635145

In [183]:
desve(df['PAY_AMT1'])

16538.8186583797

In [185]:
mean_(df['PAY_AMT1'])

5613.3215

In [244]:
nums = [1, 2, 3, 4, 5]
prome=mean_(nums)
cubes = []
for num in nums:
    cubes.append((num-prome)**2)
cubes

[4.0, 1.0, 0.0, 1.0, 4.0]

In [247]:
PALOS=['espada', 'corazon', 'rombo', 'trebol']
VALORES=['as','2','3','4','5','6','7','8','9','10','jota','reina','rey']

def crear_baraja():
  barajas=[]
  for palo in PALOS:
    for valor in VALORES:
      barajas.append((palo, valor))
  return barajas

def obtener_mano(barajas, tamano_mano):
  mano=random.sample(barajas, tamano_mano)

  return mano

In [248]:
obtener_mano(barajas, 10000)

NameError: name 'barajas' is not defined