In [175]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [4]:
df=pd.read_excel('../Data/default_of_credit_card_clients__courseware_version_1_21_19.xls')

In [12]:
df.shape

(30000, 25)

In [15]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [33]:
df[7:]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
7,d6e1911b-54d0,100000,2,2,2,23,0,-1,-1,0,...,221,-159,567,380,601,0,581,1687,1542,0
8,8421d3b3-2b54,140000,2,3,1,28,0,0,2,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
9,62a2fd79-cd90,20000,1,3,2,35,-2,-2,-2,-2,...,0,13007,13912,0,0,0,13007,1122,0,0
10,b73c34fc-91cf,200000,2,3,2,34,0,0,2,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
11,4777689a-5131,260000,2,1,2,51,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,ecff42d0-bdc6,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,99d1fa0e-222b,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,95cdd3e7-4f24,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,00d03f02-04cd,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,15d69f9f-5ad3,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [150]:
x=[61.2,62,65.1,70.4,70.9]

In [119]:
def mean_(x):
    result=sum(x)/len(x)
    return result

In [120]:
mean_(x)

65.92

In [116]:
def rango(x):
    ran=round(max(x)-min(x),4)
    return ran

In [117]:
rango(x)

9.7

In [178]:
#para la varianza se toman los valores absolutos por ello se elevan al cuadrado regla de potencia par

def varianza(x):
    acum=[]
    media=mean_(x)
    for i in list(x):
        val=acum.append((i-media)**2)
    result=(sum(acum)/len(acum))
    return result

In [180]:
varianza(x)

16.637600000000017

In [181]:
#desviacion estandar es la raizn cuadrada de la vairanza

def desve(x):
    acum=[]
    media=mean_(x)
    for i in list(x):
        val=acum.append((i-media)**2)
    result=(sum(acum)/len(acum))
    return math.sqrt(result)

[61.2, 62, 65.1, 70.4, 70.9]